{% extends "base.html" %}

{% block site_wrapper %}
	<div id="main">
		<a href="#content" class="skip_link">Skip to main content</a>
		<div id="banner">
			<div class="bannerIEPadder">
				Modern Musician
			</div>
		</div>
<!-- Vendor libraries -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js"></script>

<!-- If you're using Stripe for payments -->
<div id = "content" align="center">
	<a name = "content"></a>
	<div class="contentIEPadder">
		<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
		<!-- Credit card form -->
		<div class="container">
		    <div class="row">
		        <div class="col-xs-24 col-md-8">
		            <div class="panel panel-default">
		                <div class="panel-heading">
		                    <h3 class="panel-title"><img class="pull-right" src="http://i76.imgup.net/accepted_c22e0.png">Payment Details</h3>
		                </div>
		                <div class="panel-body">
		                    <form  action = "." method="post" id="payment-form">
		                    	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" >
		                        <div class="row">
		                            <div class="col-xs-12">
		                                <div class="form-group">
		                                    <label for="cardNumber">CARD NUMBER</label>
		                                    <div class="input-group">
		                                        <input type="text" class="form-control" name="cardNumber" placeholder="Valid Card Number" required autofocus data-stripe="number" />
		                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
		                                    </div>
		                                </div>                            
		                            </div>
		                        </div>
		                        <div class="row">
		                            <div class="col-xs-7 col-md-7">
		                                <div class="form-group">
		                                    <label for="expMonth">EXPIRATION DATE</label>
		                                    <div class="col-xs-6 col-lg-6 pl-ziro">
		                                        <input type="text" class="form-control" name="expMonth" placeholder="MM" required data-stripe="exp_month" />
		                                    </div>
		                                    <div class="col-xs-6 col-lg-6 pl-ziro">
		                                        <input type="text" class="form-control" name="expYear" placeholder="YY" required data-stripe="exp_year" />
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="col-xs-5 col-md-5 pull-right">
		                                <div class="form-group">
		                                    <label for="cvCode">CV CODE</label>
		                                    <input type="password" class="form-control" name="cvCode" placeholder="CV" required data-stripe="cvc" />
		                                </div>
		                            </div>
		                        </div>
		                        <div class="row">
		                            <div class="col-xs-12">
		                                <div class="form-group">
		                                    <label for="couponCode">COUPON CODE</label>
		                                    <input type="text" class="form-control" name="couponCode" />
		                                </div>
		                            </div>                        
		                        </div>
		                        <div class="row">
		                            <div class="col-xs-12">
		                                <button class="btn btn-success btn-lg btn-block" type="submit">Start Subscription</button>
		                            </div>
		                        </div>
		                        <div class="row" style="display:none;">
		                            <div class="col-xs-12">
		                                <p class="payment-errors"></p>
		                            </div>
		                        </div>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		
		<script type="text/javascript">
		/*
		The MIT License (MIT)
		
		Copyright (c) 2015 William Hilton
		
		Permission is hereby granted, free of charge, to any person obtaining a copy
		of this software and associated documentation files (the "Software"), to deal
		in the Software without restriction, including without limitation the rights
		to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
		copies of the Software, and to permit persons to whom the Software is
		furnished to do so, subject to the following conditions:
		
		The above copyright notice and this permission notice shall be included in
		all copies or substantial portions of the Software.
		
		THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
		IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
		FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
		AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
		LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
		OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
		THE SOFTWARE.
		*/
		var $form = $('#payment-form');
		$form.on('submit', payWithStripe);
		
		/* If you're using Stripe for payments */
		function payWithStripe(e) {
		    e.preventDefault();
		    /* Visual feedback */
		    $form.find('[type=submit]').html('Validating <i class="fa fa-spinner fa-pulse"></i>');
		    var PublishableKey = 'pk_test_6pRNASCoBOKtIshFeQd4XMUh'; // Replace with your API publishable key
		    Stripe.setPublishableKey(PublishableKey);
		    Stripe.card.createToken($form, function stripeResponseHandler(status, response) {
		        console.log(response);
		        if (response.error) {
		            /* Visual feedback */
		            $form.find('[type=submit]').html('Try again');
		            /* Show Stripe errors on the form */
		            $form.find('.payment-errors').text(response.error.message);
		            $form.find('.payment-errors').closest('.row').show();
		        } else {
		            /* Visual feedback */
		            $form.find('[type=submit]').html('Processing <i class="fa fa-spinner fa-pulse"></i>');
		            /* Hide Stripe errors on the form */
		            $form.find('.payment-errors').closest('.row').hide();
		            $form.find('.payment-errors').text("");
		            // response contains id and card, which contains additional card details
		            var token = response.id;
		            console.log($form);
		            // AJAX
		            $.post("{% url 'execute_payment' %}", {
		                    token: token,
		                    csrfmiddlewaretoken: '{{ csrf_token }}'
		                })
		                // Assign handlers immediately after making the request,
		                .done(function(data, textStatus, jqXHR) {
		                    $form.find('[type=submit]').html('Payment successful <i class="fa fa-check"></i>').prop('disabled', true);
		                })
		                .fail(function(jqXHR, textStatus, errorThrown) {
		                    $form.find('[type=submit]').html('There was a problem').removeClass('success').addClass('error');
		                    /* Show Stripe errors on the form */
		                    $form.find('.payment-errors').text('Try refreshing the page and trying again.');
		                    $form.find('.payment-errors').closest('.row').show();
		                });
		        }
		    });
		}
		
		/* Form validation */
		jQuery.validator.addMethod("month", function(value, element) {
		  return this.optional(element) || /^(01|02|03|04|05|06|07|08|09|10|11|12)$/.test(value);
		}, "Please specify a valid 2-digit month.");
		
		jQuery.validator.addMethod("year", function(value, element) {
		  return this.optional(element) || /^[0-9]{2}$/.test(value);
		}, "Please specify a valid 2-digit year.");
		
		validator = $form.validate({
		    rules: {
		        cardNumber: {
		            required: true,
		            creditcard: true,
		            digits: true
		        },
		        expMonth: {
		            required: true,
		            month: true
		        },
		        expYear: {
		            required: true,
		            year: true
		        },
		        cvCode: {
		            required: true,
		            digits: true
		        }
		    },
		    highlight: function(element) {
		        $(element).closest('.form-control').removeClass('success').addClass('error');
		    },
		    unhighlight: function(element) {
		        $(element).closest('.form-control').removeClass('error').addClass('success');
		    },
		    errorPlacement: function(error, element) {
		        $(element).closest('.form-group').append(error);
		    }
		});
		
		paymentFormReady = function() {
		    if ($form.find('[name=cardNumber]').hasClass("success") &&
		        $form.find('[name=expMonth]').hasClass("success") &&
		        $form.find('[name=expYear]').hasClass("success") &&
		        $form.find('[name=cvCode]').val().length > 1) {
		        return true;
		    } else {
		        return false;
		    }
		}
		
		$form.find('[type=submit]').prop('disabled', true);
		var readyInterval = setInterval(function() {
		    if (paymentFormReady()) {
		        $form.find('[type=submit]').prop('disabled', false);
		        clearInterval(readyInterval);
		    }
		}, 250);
		</script>
	</div>
</div>
{% endblock %}	
